//- layout.pug
doctype html
html(lang='cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{title} -- #{blogName}
    if showTests
      link(rel="stylesheet" href=staticUrl+"/vendor/mocha.css")
    link(rel="stylesheet" href=staticUrl+"/css/stskyAd.min.css")
    script(src=staticUrl+"/vendor/jquery-1.12.4.min.js")
    script(src=staticUrl+"/vendor/bootstrap.min.js")
    script(src=staticUrl+"/js/stskyAd.min.js")
  body
    block body
    if showTests
      #mocha
      script(src=staticUrl+"/vendor/mocha.js")
      script(src=staticUrl+"/vendor/chai.js")
      script.
        mocha.ui('tdd');
        var assert = chai.assert;
      script(src=staticUrl+"/qa/tests-global.js")
      if pageTestScript
        script(src=staticUrl+pageTestScript)
      script.
        mocha.run();
