.blogListContent
  .notice list
  ul.list-unstyled.blogList
    //- li
    //-   .listContent
    //-     h2
    //-       a(href="/t") 标题1标题1标题1标题1标题1标题1
    //-     .blogInfos
    //-       time.blogInfo.blogTime 2017-2-17
    //-       span.blogInfo.blogTag web前端
    //-       span.blogInfo.blogview 100人浏览过
    //-       span.blogInfo.blogcomment 10条评论
    //-     .blogText
    //-       p.
    //-         标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1
    each blog in blogs
      li
        .listContent
          h2
            a(href="/essay/" + blog.id) #{blog.title}
          .blogInfos
            time.blogInfo.blogTime #{blog.date}
            span.blogInfo.blogTag #{blog.tags}
            span.blogInfo.blogview #{blog.view}人浏览过
            span.blogInfo.blogcomment #{blog.commentCount}条评论
          .blogText
            p !{blog.blogDesc}
  .paging
    ul.pagination
      if pg == 1
        li.disabled
          span(aria-hidden="true") &laquo;
      else
        li
          a(href="/"+urlQuery aria-label="Previous")
            span(aria-hidden="true") &laquo;
      - for (var n = startPg; n <= endPg; n++)
          if n == pg
            li.active
              span= n
          else
            li
              a(href="?page="+ n + urlQuery)= n
      if pg == countPg
        li.disabled
          span(aria-hidden="true") &raquo;
      else
        li
          a(href="?page="+countPg+urlQuery aria-label="Next")
            span(aria-hidden="true") &raquo;

    //- if pg == 1
    //-   a.disabled(href="/") «
    //- else
    //-   a(href="/") «
    //- - for (var n = startPg; n <= endPg; n++)
    //-     if n == pg
    //-       a.active(href="?page="+ n)= n
    //-     else
    //-       a(href="?page="+ n)= n
    //- if pg == countPg
    //-   a.disabled(href="?page="+countPg) »
    //- else
    //-   a(href="?page="+countPg) »
  //- script.
  //-   $('.paging a.disabled').click(function(){return false;});
  //-   $('.paging .active').click(function(){return false;});