.commentInfo 共 #{blogs.commentCount} 条评论 | #{blogs.commentReply}条回复 | 管理参与：#{blogs.commentAdCount} 条

mixin forComm(tm, cm, cId)
  each c in cm
    - var temp = "<div class=\"comment\" id=\"comment_"+cId+"\">"+tm+"<div class=\"author\"><img src="+staticUrl + c.authorImgUrl+"><strong>"+c.authorName+"</strong><br><time>"+c.date+"&nbsp</time><a class=\"floor\" href=\"#comment_"+cId+"\">"+c.vertical+"楼</a><span data-commentId=\""+cId+"\" data-floor=\""+c.vertical+"\" data-horizontal=\""+c.horizontal+"\" class=\"reply\">回复</span><span class=\"glyphicon glyphicon-thumbs-up ding\"><span class=\"dingNum\">"+c.ding+"</span></span></div><p>"+c.comment+"</p></div>"
    if c.replyComment.length
      +forComm(temp,c.replyComment, cId)
    else
      != temp

each comm in comment
  - var temp = "<div class=\"comment\" id=\"comment_"+comm.commentId+"\"><div class=\"author\"><img src="+staticUrl + comm.authorImgUrl+"><strong>"+comm.authorName+"</strong><br><time>"+comm.date+"&nbsp</time><a class=\"floor\" href=\"#comment_"+comm.commentId+"\">"+comm.floor+"楼</a><span data-commentId=\""+comm.commentId +"\" data-floor=\""+comm.vertical+"\" data-horizontal=\""+comm.horizontal+"\" class=\"reply\">回复</span><span class=\"glyphicon glyphicon-thumbs-up ding\"><span class=\"dingNum\">"+comm.ding+"</span></span></div><p>"+comm.comment+"</p></div>"
  if comm.replyComment.length
    +forComm(temp,comm.replyComment, comm.commentId)
  else
    != temp
else
  .noComment 该文章暂时没有评论！
.paging
  if blogs.commentCount > 0
    ul.pagination
      if pg == countPg
        li.disabled
          span(aria-hidden="true") &laquo;
      else
        li
          a(href="?page="+countPg aria-label="Next")
            span(aria-hidden="true") &laquo;
      - for (var n = endPg; n >= startPg; n--)
          if n == pg
            li.active
              span= n
          else
            li
              a(href="?page="+ n)= n
      if pg == 1
        li.disabled
          span(aria-hidden="true") &raquo;
      else
        li
          a(href="?page=1" aria-label="Previous")
            span(aria-hidden="true") &raquo;
.addCommentCt
  h3 发表评论
  form(action="/essay" method="POST")
    input(type="hidden" name="_csrf" value=_csrfToken)
    input(type="hidden" name="blogTextId" value=blogs.id)
    .input-group
      span.input-group-addon 名字
      input.form-control(type="text" name="userName" required=true)
    .input-group
      span.input-group-addon 邮箱
      input.form-control(type="email" name="email" required=true)
    textarea.form-control(name='comment' rows="7" required=true)
    button.btn.btn-default(type="submit") 提交



//- each comm in comment
//-   .comment(id='comment_'+comm.commentId)
//-     .author
//-       img(src= staticUrl + comm.authorImgUrl)
//-       strong #{comm.authorName}
//-       br
//-       time #{comm.date}&nbsp
//-       a.floor(href='#comment_'+comm.commentId) #{comm.floor}楼
//-       span.reply 回复
//-       span.glyphicon.glyphicon-thumbs-up.ding
//-         span.dingNum #{comm.ding}
//-     p #{comm.comment}
//-     +forComm(comm.replyComment, comm.commentId)
  //- each comm in comment
  //-   .comment(id='comment_'+comm.commentId)
  //-   if comm.replyComment
      //- each comm in comm.replyComment
      //-   if comm.replyComment
      //-     each comm in comm.replyComment

  //-   .comment(id='comment_'+comm.commentId)
  //-     .author
  //-       img(src=staticUrl+comm.authorImgUrl)
  //-       strong #{comm.authorName}
  //-       br
  //-       time #{comm.date}&nbsp
  //-       a.floor(href='#comment_'+comm.commentId) #{comm.floor}楼
  //-       span.reply 回复
  //-       span.glyphicon.glyphicon-thumbs-up.ding
  //-         span.dingNum #{comm.ding}
  //-     p #{comm.comment}





//- .comment#comment_5
//-   .comment#comment_4
//-     .comment#comment_3
//-       .comment#comment_2
//-         .comment#comment_1
//-           .author
//-             img(src="/img/text.png")
//-             strong 作者名字1
//-             br
//-             time 2017-2-19 22:13:45&nbsp
//-             a.floor(href="#comment_5") 1楼
//-             span.reply 回复
//-             span.glyphicon.glyphicon-thumbs-up.ding
//-               span.dingNum 12
//-           p.
//-             评论内容
//-         .author
//-           img(src="/img/text.png")
//-           strong 作者名字2
//-           br
//-           time 2017-2-19 22:13:45&nbsp
//-           a.floor(href="#comment_4") 1楼
//-           span.reply 回复
//-           span.glyphicon.glyphicon-thumbs-up.ding
//-             span.dingNum 12
//-         p.
//-           评论内容
//-       .author
//-         img(src="/img/text.png")
//-         strong 作者名字3
//-         br
//-         time 2017-2-19 22:13:45&nbsp
//-         a.floor(href="#comment_3") 1楼
//-         span.reply 回复
//-         span.glyphicon.glyphicon-thumbs-up.ding
//-           span.dingNum 12
//-       p.
//-         评论内容
//-     .author
//-       img(src="/img/text.png")
//-       strong 作者名字4
//-       br
//-       time 2017-2-19 22:13:45&nbsp
//-       a.floor(href="#comment_2") 1楼
//-       span.reply 回复
//-       span.glyphicon.glyphicon-thumbs-up.ding
//-         span.dingNum 12
//-     p.
//-       评论内容

//-     .author
//-       img(src="/img/text.png")
//-       strong 作者名字4
//-       br
//-       time 2017-2-19 22:13:45&nbsp
//-       a.floor(href="#comment_2") 1楼
//-       span.reply 回复
//-       span.glyphicon.glyphicon-thumbs-up.ding
//-         span.dingNum 12
//-     p.
//-       评论内容
//-   .author
//-     img(src="/img/text.png")
//-     strong 作者名字
//-     br
//-     time 2017-2-19 22:13:45&nbsp
//-     a.floor(href="#comment_1") 1楼
//-     span.reply 回复
//-     span.glyphicon.glyphicon-thumbs-up.ding
//-       span.dingNum 12
//-   p.
//-     评论内容
//-   .comment#comment_6
//-     .comment#comment_7
//-       .author
//-         img(src="/img/text.png")
//-         strong 作者名字
//-         br
//-         time 2017-2-19 22:13:45&nbsp
//-         a.floor(href="#comment_7") 1楼
//-         span.reply 回复
//-         span.glyphicon.glyphicon-thumbs-up.ding
//-           span.dingNum 12
//-       p.
//-         评论内容
//-     .author
//-       img(src="/img/text.png")
//-       strong 作者名字6
//-       br
//-       time 2017-2-19 22:13:45&nbsp
//-       a.floor(href="#comment_6") 1楼
//-       span.reply 回复
//-       span.glyphicon.glyphicon-thumbs-up.ding
//-         span.dingNum 12
//-     p.
//-       评论内容
//- .comment#comment_8
//-   .author
//-     img(src="/img/text.png")
//-     strong 作者名字
//-     br
//-     time 2017-2-19 22:13:45&nbsp
//-     a.floor(href="#comment_8") 1楼
//-     span.reply 回复
//-     span.glyphicon.glyphicon-thumbs-up.ding
//-       span.dingNum 12
//-   p.
//-     评论内容
//- .comment#comment_9
//-   .author
//-     img(src="/img/text.png")
//-     strong 作者名字
//-     br
//-     time 2017-2-19 22:13:45&nbsp
//-     a.floor(href="#comment_9") 1楼
//-     span.reply 回复
//-     span.glyphicon.glyphicon-thumbs-up.ding
//-       span.dingNum 12
//-   p.
//-     评论内容


